{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead mb-0" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }} ')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>CodingThunder</h1>
                    <span class="subheading">A Blog created for programmers</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- flashing alerts atarts here -->
<!-- {% with messages = get_flashed_messages()%}
{% if messages%}
{%for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{%endif%}
{%endwith%} -->
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto ">
            {% for post in posts %}
            <!-- <li> -->
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}

                    </h2>
                    <h3 class="post-subtitle">
                        {{post.tag_line}}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on {{post.date}}</p>
            </div>
            {{post.content[0:50]}}....
            <!-- </li></a> --></a>
            <hr class="py-2">
            {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
                <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous </a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.alert').alert()

</script>
{% endblock %}
